@page "/Admin/SubCategories"
@model BookStore.Pages.Admin.SubCategories.IndexModel

@{
	ViewData["Title"] = "Index";
	Layout = "~/Pages/Shared/_Admin.cshtml";
}

<h1 style="text-align:center">Quản Lý Danh Mục Con</h1>

<div style="display:flex; justify-content:space-between; align-items:center; margin-bottom:2%">
	<div>
		<a class="btn btn-outline-success" asp-page="Create">Thêm Danh Mục Con Mới</a>
	</div>
	<form asp-action="/Admin/SubCategories" method="get">
		<div class="input-group justify-content-end" style="margin-left:auto">
			<div class="form-outline " data-mdb-input-init>
				<input type="search" class="form-control" placeholder="Nhập Vào Từ Tìm Kiếm" name="keyword" value="@Model.Keywords" />
			</div>
			<button type="submit" class="btn btn-outline-primary" data-mdb-ripple-init>Tìm Kiếm</button>
		</div>
	</form>
</div>

@if (Model.SubCategory.Any())
{
	<table class="table">
		<thead>
			<tr>
				<th>
					ID
				</th>
				<th>
					Danh Mục
				</th>
				<th>
					Danh Mục Con
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.SubCategory)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.SubCategoryId)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Category.CategoryName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.SubCategoryName)
					</td>
					<td>
						<a class="btn btn-outline-primary" asp-page="./Details" asp-route-id="@item.SubCategoryId">Xem</a> &nbsp;
						<a class="btn btn-outline-success" asp-page="./Edit" asp-route-id="@item.SubCategoryId">Sửa</a> &nbsp;
						<a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@item.SubCategoryId">Xoá</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<div class="text-black-50" style="font-weight:bold; font-size:20px; text-align:center">
		<p>Không tìm thấy kết quả!</p>
	</div>
}