@page
@model BookStore.Pages.Admin.Orders.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Admin.cshtml";
}

<h1 style="text-align:center">Thông Tin Đơn Hàng</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Sản Phẩm
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.Book.BookName)&ensp; x &ensp;@Html.DisplayFor(model => model.OrderDetail.Quantity)
        </dd>
        @* <dt class="col-sm-2">
            Số Lượng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.Quantity)
        </dd> *@
        <dt class="col-sm-2">
            Đơn Giá
        </dt>
        <dd class="col-sm-10">
            @string.Format("{0:0,0}",Model.OrderDetail.UnitPrice) VND
        </dd>
        <dt class="col-sm-2">
            Trạng Thái
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.Order.Status)
        </dd>
        <dt class="col-sm-2">
            Ngày Đặt Hàng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.Order.OrderDate)
        </dd>
        <dt class="col-sm-2">
            Ngày Giao Hàng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.Order.DeliveryDate)
        </dd>
        <dt class="col-sm-2">
            Khách Hàng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.Order.Account.Username)
        </dd>
    </dl>
</div>
<div class="form-group justify-content-center" style="display:flex; align-items:center; margin-bottom:10px">
    <a class="btn btn-outline-secondary" asp-page="./Index">< Quay lại</a>&nbsp;
    <a class="btn btn-outline-success" @* asp-page="./Edit" *@ asp-route-id="@Model.OrderDetail.?.OrderId">Sửa</a>
</div>
