@page
@model BookStore.Pages.Admin.Accounts.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Admin.cshtml";
}

<h1 style="text-align:center"> Thông Tin Tài Khoản</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Password)
        </dd>
        <dt class="col-sm-2">
            Họ Tên
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Fullname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Email)
        </dd>
        <dt class="col-sm-2">
            Địa Chỉ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Address)
        </dd>
        <dt class="col-sm-2">
            SĐT
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Phone)
        </dd>
        <dt class="col-sm-2">
            Giới Tính
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Gender)
        </dd>
        <dt class="col-sm-2">
            Ngày Sinh
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.DoB)
        </dd>
        <dt class="col-sm-2">
            Vai Trò
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Role.RoleName)
        </dd>
    </dl>
</div>
<div class="form-group justify-content-center" style="display:flex; align-items:center; margin-bottom:10px">
    <a class="btn btn-outline-secondary" asp-page="./Index">< Quay lại</a>&nbsp;
    <a class="btn btn-outline-success"asp-page="./Edit" asp-route-id="@Model.Account?.AccountId">Sửa</a> 
</div>
