@page "{id}"
@model BookStore.Pages.Books.BookDetailModel

@{
	ViewData["Title"] = "BookDetail";
}
@using BookStore.Models

@* Search *@
<form method="post">
	<div class="input-group justify-content-center mb-3">
		<div class="form-outline " data-mdb-input-init>
			<input type="search" class="form-control" style="min-width:800px"
				   placeholder="Nhập Vào Từ Tìm Kiếm" name="keyword" value="@Model.Keywords" />
		</div>
		<button type="submit" class="btn btn-outline-primary" data-mdb-ripple-init>Tìm Kiếm</button>
	</div>
</form>

@* Menu *@
<nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light bg-light border-bottom box-shadow mb-3">
	<ul class="navbar-nav">
		<li style="display:block; text-align:center; padding:0px 5px; text-decoration:none; border-right:1px solid #ddd;">
			<a class="nav-link" asp-page="/Index"> Trang Chủ</a>
		</li>
		@foreach (Category category in Model.Categories)
		{
			<li class="nav-item dropdown" style="display:block; text-align:center; padding:0px 5px; text-decoration:none; border-right:1px solid #ddd;">
				<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					@category.CategoryName
				</a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					@foreach (SubCategory subCategory in category.SubCategories)
					{
						<li>
							<a class="dropdown-item" href="/?subCategoryId=@subCategory.SubCategoryId">
								@subCategory.SubCategoryName
							</a>
						</li>
					}
				</ul>
			</li>
		}
		<li style="display:block; text-align:center; padding:0px 5px; text-decoration:none;">
			<a class="nav-link" asp-page="/Contact"> Liên Hệ</a>
		</li>
	</ul>
</nav>

@* BookDetail *@
<div class="container">
	<div>
		<div>
			<img src="~/Images/@Model.Books_Authors.Book.Cover" style="width:200px;height:200px;float:left;margin-right:30px;" />
			</div>
		<strong style="color:red;font-weight:bold">Tên Sách:</strong>
		<span style="font-weight:bold"> @Model.Books_Authors.Book.BookName</span>
		<br />
		<strong style="color:red;font-weight:bold">Chủ Đề:</strong>
		<span style="font-weight:bold"> @Model.Books_Authors.Book.SubCategory.SubCategoryName</span>
		<br />
		<strong style="color:red;font-weight:bold">Nhà Xuất Bản:</strong>
		<span style="font-weight:bold"> @Model.Books_Authors.Book.Publisher.PublisherName</span>
		<br />
		<strong style="color:red;font-weight:bold">Thông Tin:</strong>
		<span style="font-weight:bold"> @Model.Books_Authors.Book.Description</span>
		<br />
		<strong style="color:red;font-weight:bold">Giá Bán:</strong>
		<span style="font-weight:bold"> @Model.Books_Authors.Book.Price VND</span>
		<br />
		@using (Html.BeginForm("AddCart", "Cart", new { id = @Model.Books_Authors.BookId }))
		{
			<button type="submit" class="btn btn-outline-danger" style="margin-top:1%">
				Mua Hàng
			</button>
		}
	</div>
</div>