@page "{id}"
@model BookStore.Pages.Books.BookDetailModel

@{
	ViewData["Title"] = "BookDetail";
}
@using BookStore.Models

@* Search *@
<form method="post">
	<div class="input-group justify-content-center mb-3">
		<div class="form-outline " data-mdb-input-init>
			<input type="search" class="form-control" style="min-width:800px"
				   placeholder="Nhập Vào Từ Tìm Kiếm" name="keyword" value="@Model.Keywords" />
		</div>
		<button type="submit" class="btn btn-outline-primary" data-mdb-ripple-init>Tìm Kiếm</button>
	</div>
</form>

@* Menu *@
<nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light bg-light border-bottom box-shadow mb-3">
	<ul class="navbar-nav">
		<li style="display:block; text-align:center; padding:0px 5px;  border-right:1px solid #ddd;">
			<a class="nav-link" asp-page="/Index"> Trang Chủ</a>
		</li>
		@foreach (Category category in Model.Categories)
		{
			<li class="nav-item dropdown" style="display:block; text-align:center; padding:0px 5px; text-decoration:none; border-right:1px solid #ddd;">
				<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					@category.CategoryName
				</a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					@foreach (SubCategory subCategory in category.SubCategories)
					{
						<li>
							<a class="dropdown-item" href="/?subCategoryId=@subCategory.SubCategoryId">
								@subCategory.SubCategoryName
							</a>
						</li>
					}
				</ul>
			</li>
		}
		<li style="display:block; text-align:center; padding:0px 5px; text-decoration:none;">
			<a class="nav-link" asp-page="/Contact"> Liên Hệ</a>
		</li>
	</ul>
</nav>

@* BookNavigation *@
<div class="container breadcrumbs">
	<ol class="breadcrumb">
		<li class="0">
			<span class="text-black-50" style="text-decoration:none;">
				@Model.Books_Authors.Book.SubCategory.Category.CategoryName
			</span>
			<span class="text-black-50" style="text-decoration:none;"> &ensp;>&ensp; </span>
		</li>
		<li class="1">
			<a href="/?subCategoryId=@Model.Books_Authors.Book.SubCategory.SubCategoryId"
			   title="@Model.Books_Authors.Book.SubCategory.SubCategoryName"
			   class="text-black-50" style="text-decoration:none;">
				@Model.Books_Authors.Book.SubCategory.SubCategoryName
			</a>
		</li>
	</ol>
</div>

@* BookDetail *@
<div class="container bg-light justify-content-center mb-3" style="display:flex;">
	<div class="card" style="float:left; margin-right:100px;">
		<img src="~/Images/@Model.Books_Authors.Book.Cover"
			 style="width:420px; height:420px;"/>
	</div>
	<div style="float:right; padding:20px;">
		<h1> @Model.Books_Authors.Book.BookName</h1>
		<br /><br />
		<span>Chủ Đề:</span>
		<strong style="font-weight:bold"> @Model.Books_Authors.Book.SubCategory.SubCategoryName</strong>
		<br /><br />
		<span>Tác Giả:</span>
		<strong style="font-weight:bold"> @Model.Books_Authors.Author.AuthorName</strong>
		<br /><br />
		<span>Nhà Xuất Bản:</span>
		<strong style="font-weight:bold"> @Model.Books_Authors.Book.Publisher.PublisherName</strong>
		<br /><br />
		<strong style="color:red;font-weight:bold; font-size:30px"> @Model.Books_Authors.Book.Price VND</strong>
		<br /><br />
		@using (Html.BeginForm("AddCart", "Cart", new { id = @Model.Books_Authors.BookId }))
		{
			<button type="submit" class="btn btn-outline-danger" style="width:100%;height:50px;margin-top:1%">
				Mua Hàng
			</button>
		}
	</div>
</div>

<div class="container bg-light" style="padding:25px 40px 15px 40px ;">
	<strong>Giới thiệu</strong><br /><br />
	<p>@Model.Books_Authors.Book.Description</p>
	<br /><br /><br />
	<strong>Thông tin Tác giả</strong><br /><br />
	<p>@Model.Books_Authors.Author.Biography</p>
</div>