@page "/Admin/Books"
@model BookStore.Pages.Admin.Books.IndexModel

@{
	ViewData["Title"] = "Index";
	Layout = "~/Pages/Shared/_Admin.cshtml";

}
@using BookStore.Models

<h1 style="text-align:center">Quản Lý Sách</h1>

<div style="display:flex; justify-content:space-between; align-items:center; margin-bottom:2%">
	<div>
		<a class="btn btn-outline-success" asp-page="Create">Thêm Sách Mới</a>
	</div>
	<form asp-action="/Admin/Books" method="get">
		<div class="input-group justify-content-end" style="margin-left:auto">
			<div class="form-outline " data-mdb-input-init>
				<input type="search" class="form-control" placeholder="Nhập Vào Từ Tìm Kiếm" name="keyword" value="@Model.Keywords" />
			</div>
			<button type="submit" class="btn btn-outline-primary" data-mdb-ripple-init>Tìm Kiếm</button>
		</div>
	</form>
</div>

@if (Model.Books.Any())
{
	<table class="table">
		<thead>
			<tr style="text-align:center">
				<th>ID</th>
				<th>Bìa Sách</th>
				<th>Tên Sách</th>
				<th>Tác Giả</th>
				<th>Nhà Xuất Bản</th>
				<th>Danh Mục</th>
				<th>Giá</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (Book book in Model.Books)
			{
				<tr style="vertical-align:middle; text-align:center">
					<td>
						@book.BookId
					</td>
					<td>
						<img src="~/Images/@book.Cover" style="width:100px; height:100px; display:block; margin:auto;" />
					</td>
					<td>
						@book.BookName
					</td>
					<td>
						@book.Author
					</td>
					<td>
						@book.Publisher.PublisherName
					</td>
					<td>
						@book.SubCategory.SubCategoryName
					</td>
					<td>
						@book.Price VND
					</td>
					<td>
						<a class="btn btn-outline-primary" asp-page="/Admin/Books/Details" asp-route-id="@book.BookId">Xem</a>
						&nbsp;
						<a class="btn btn-outline-success" asp-page="/Admin/Books/Edit" asp-route-id="@book.BookId">Sửa</a>
						&nbsp;
						<a class="btn btn-outline-danger" asp-page="/Admin/Books/Delete" asp-route-id="@book.BookId">Xoá</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<div class="text-black-50" style="font-weight:bold; font-size:20px; text-align:center">
		<p>Không tìm thấy kết quả!</p>
	</div>
}